.body-container {
  min-height: 100%;
  padding: 90px 100px 30px 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tasks-app-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.page-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-row {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-row-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-toolbar {
  position: fixed;
  top: 62;
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: #9575cd;
  color: white;
}

.toolbar-margin {
  width: 100px;
}

.toolbar-base-span {
  width: 30px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.space-50 {
  flex: 0 0 50px;
}
.space-20 {
  flex: 0 0 20px;
}

.space-20p {
  flex: 0 0 20%;
}

.shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.card-task {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-row {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-column-priority {
  flex: none;
  width: 50px;
  flex-direction: column;
  height: 100%;
}

.card-column-title {
  flex: 10;
  flex-direction: column;
  height: 100%;
}

.card-column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.height-max-flex {
  flex: 10;
}

.height-60 {
  height: 60px;
  min-height: 60px;
}

.height-50 {
  height: 50px;
  min-height: 50px;
}

.height-40 {
  height: 40px;
  min-height: 40px;
}
.height-25 {
  height: 25px;
  min-height: 25px;
}
.height-10 {
  height: 10px;
  min-height: 10px;
}
.width-50 {
  width: 50px;
  min-width: 50px;
  flex: none;
}

.width-150 {
  width: 150px;
  min-width: 150px;
  flex: none;
}

.height-search {
  height: 35px;
  min-height: 35px;
  flex: none;
}

.width-100 {
  width: 100px;
  min-width: 100px;
  flex: none;
}
.width-max {
  width: 100%;
}

width-max-flex {
  flex: 1;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.center-vertically {
  justify-content: center;
  display: flex;
}

.horizontal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-left {
  padding-left: 15px;
}

.button-size {
  min-width: 150px;
  max-width: 250px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.search-container {
  flex: 1 1 auto;
  flex-direction: row;
  height: 100%;
  width: 300px;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.search-column{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.search-container input[type=text] {
  width: 100%;
  padding: 3px;
  margin-top: 3px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #9575cd;
  border-bottom: 1px solid white;
}
