<div class="tasks-app-container">
    <!-- TOOLBAR -->
    <mat-toolbar class="page-toolbar shadow">
        <mat-toolbar-row>
            <span class="toolbar-margin"></span>
            {{'tasks_toolbar_title' | translate}}
            <span class="toolbar-base-span"></span>

            <button mat-icon-button (click)="openDialogNewTask()">
                <mat-icon>add</mat-icon>
            </button>

            <span class="fill-remaining-space"></span>

            <div class="search-container">
                <div class="search-column center">
                    <input [(ngModel)]="searchInput" type="text" placeholder="{{'tasks_toolbar_search' | translate}}"
                        name="searchByTitle">
                </div>
                <div class="search-column center">
                    <button mat-icon-button (click)="search(searchInput)">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <button mat-button (click)="refresh()">
                <mat-icon>refresh_icon</mat-icon>
            </button>
            <span class="span-20"></span>

            <button mat-button [matMenuTriggerFor]="filterMenu">
                {{'tasks_toolbar_filter' | translate}}
            </button>
            <mat-menu #filterMenu="matMenu">
                <button mat-menu-item [disabled]="filterOption === 'DEFAULT'"
                    (click)="filter('DEFAULT')">{{'tasks_toolbar_filter_default' | translate}}</button>
                <button mat-menu-item
                    [matMenuTriggerFor]="priorityMenu">{{'tasks_toolbar_filter_priority' | translate}}</button>
                <button mat-menu-item
                    [matMenuTriggerFor]="statusMenu">{{'tasks_toolbar_filter_status' | translate}}</button>
            </mat-menu>
            <mat-menu #priorityMenu="matMenu">
                <button mat-menu-item [disabled]="filterOption === 'BY_PRIORITY_HIGH'"
                    (click)="filter('BY_PRIORITY_HIGH')">{{'tasks_toolbar_filter_priority_high' | translate}}</button>
                <button mat-menu-item [disabled]="filterOption === 'BY_PRIORITY_MEDIUM'"
                    (click)="filter('BY_PRIORITY_MEDIUM')">{{'tasks_toolbar_filter_priority_medium' | translate}}</button>
                <button mat-menu-item [disabled]="filterOption === 'BY_PRIORITY_LOW'"
                    (click)="filter('BY_PRIORITY_LOW')">{{'tasks_toolbar_filter_priority_low' | translate}}</button>
            </mat-menu>
            <mat-menu #statusMenu="matMenu">
                <button mat-menu-item [disabled]="filterOption === 'STATUS_PENDING'"
                    (click)="filter('STATUS_PENDING')">{{'tasks_toolbar_filter_status_pending' | translate}}</button>
                <button mat-menu-item [disabled]="filterOption === 'STATUS_ACTIVE'"
                    (click)="filter('STATUS_ACTIVE')">{{'tasks_toolbar_filter_status_active' | translate}}</button>
                <button mat-menu-item [disabled]="filterOption === 'STATUS_COMPLETED'"
                    (click)="filter('STATUS_COMPLETED')">{{'tasks_toolbar_filter_status_completed' | translate}}</button>
                <button mat-menu-item [disabled]="filterOption === 'STATUS_OVERDUE'"
                    (click)="filter('STATUS_OVERDUE')">{{'tasks_toolbar_filter_status_overdue' | translate}}</button>
            </mat-menu>
            <span class="span-20"></span>

            <button mat-button [matMenuTriggerFor]="sortMenu">
                {{'tasks_toolbar_sort' | translate}}
            </button>
            <mat-menu #sortMenu="matMenu">
                <button mat-menu-item [disabled]="sortOption === 'DEFAULT'" (click)="sort('DEFAULT')">
                    {{'tasks_toolbar_sort_default' | translate}}</button>
                <button mat-menu-item [disabled]="sortOption === 'BY_PRIORITY'" (click)="sort('BY_PRIORITY')">
                    {{'tasks_toolbar_sort_priority' | translate}}</button>
                <button mat-menu-item [disabled]="sortOption === 'BY_START_DATE'" (click)="sort('BY_START_DATE')">
                    {{'tasks_toolbar_sort_start_time' | translate}}</button>
                <button mat-menu-item [disabled]="sortOption === 'BY_END_DATE'" (click)="sort('BY_END_DATE')">
                    {{'tasks_toolbar_sort_end_time' | translate}}</button>
                <button mat-menu-item [disabled]="sortOption === 'BY_TITLE'" (click)="sort('BY_TITLE')">
                    {{'tasks_toolbar_sort_titile' | translate}}</button>
                <button mat-menu-item [disabled]="sortOption === 'BY_STATUS'" (click)="sort('BY_STATUS')">
                    {{'tasks_toolbar_sort_status' | translate}}</button>
            </mat-menu>

            <button mat-button (click)="sortReverse()">
                <mat-icon>{{sortIcon[sortIsReverse.toString()]}}</mat-icon>
            </button>

            <span class="span-20"></span>

            <button mat-button [matMenuTriggerFor]="viewMenu">
                {{'tasks_toolbar_view' | translate}}
            </button>
            <mat-menu #viewMenu="matMenu">
                <button mat-menu-item (click)="toggleView()" [disabled]="isFullView">
                    {{'tasks_toolbar_view_full' | translate}}</button>
                <button mat-menu-item (click)="toggleView()" [disabled]="!isFullView">
                    {{'tasks_toolbar_view_small' | translate}}</button>
            </mat-menu>

            <span class="toolbar-margin"></span>

        </mat-toolbar-row>
    </mat-toolbar>
    <!-- BODY -->
    <!-- Task - Empty -->
    <div class="body-container">
        <div class="page-row-container" *ngIf="tasks.length == 0">
            <div class="page-row">
                <mat-card class="card-task">
                    <p>{{'tasks_page_no_tasks' | translate}}</p>
                </mat-card>
            </div>
        </div>

        <div class="page-row-container" *ngIf="tasks.length !== 0">
            <div class="page-row" *ngFor="let task of tasks">

                <mat-card class="card-task">
                    <div class="card-row-container">

                        <div class="card-row height-50">

                            <div class="card-column-priority center">
                                <img src={{prioritiesIcon[task.priority]}} style="width:50px; height:50px; flex:none;">
                            </div>

                            <div class="card-column-title">

                                <div class="card-row height-40">
                                    <div class="card-column-title center-vertically title-font">
                                        <div>{{task.title}}</div>
                                    </div>
                                    <!-- Small View -->
                                    <span class="fill-remaining-space"></span>
                                    <div class="card-column" *ngIf="!isFullView">
                                        <div class="card-row small-view-dates-width">{{'tasks_card_start_time' | translate}}
                                            {{task.startTime.toLocaleString()}}</div>
                                        <div class="card-row small-view-dates-width"
                                            *ngIf="task.completedTime===undefined || task.completedTime===null">
                                            {{'tasks_card_end_time' | translate}} {{task.endTime.toLocaleString()}}
                                        </div>
                                        <div class="card-row small-view-dates-width"
                                            *ngIf="task.completedTime!=undefined || task.completedTime!=null">
                                            {{'tasks_card_completed_time' | translate}}
                                            {{task.completedTime.toLocaleString()}}</div>
                                    </div>
                                    <span class="span-50" *ngIf="!isFullView"></span>

                                    <div class="card-column width-100">
                                        <div class="card-row">
                                            <div class="card-column">
                                                <button mat-icon-button (click)="openDialogUpdateTask(task)"
                                                    [disabled]="task.status === 'STATUS_COMPLETED' || task.status === 'STATUS_OVERDUE'">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </div>
                                            <div class="card-column">
                                                <button mat-icon-button (click)="btnDeleteTask(task)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Small View -->
                                    <span class="span-20" *ngIf="!isFullView"></span>
                                    <div *ngIf="!isFullView">
                                        <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                            *ngIf="task.status === 'STATUS_PENDING'" (click)="completeTask(task)">
                                            {{'tasks_btn_pending' | translate}}
                                        </button>
                                        <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                            *ngIf="task.status === 'STATUS_PENDING_AUTOCOMPLETE'"
                                            style="background-color: #9575CD;" (click)="completeTask(task)">
                                            {{'tasks_btn_pending' | translate}}
                                        </button>
                                        <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                            *ngIf="task.status === 'STATUS_ACTIVE_AUTOCOMPLETE'"
                                            style="background-color: #9575CD;" (click)="completeTask(task)">
                                            {{'tasks_btn_autocomplete' | translate}}
                                        </button>
                                        <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                            *ngIf="task.status === 'STATUS_ACTIVE'" (click)="completeTask(task)">
                                            {{'tasks_btn_complete' | translate}}
                                        </button>
                                        <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                            style="background-color: green;" *ngIf="task.status === 'STATUS_COMPLETED'">
                                            {{'tasks_btn_completed' | translate}}
                                        </button>
                                        <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                            style="background-color: red;" *ngIf="task.status === 'STATUS_OVERDUE'"
                                            (click)="completeTask(task)">
                                            {{'tasks_btn_overdue' | translate}}
                                        </button>
                                    </div>
                                </div>

                                <div class="card-row height-15">
                                    <mat-progress-bar mode="determinate" [value]="task.progress"></mat-progress-bar>
                                </div>

                            </div>

                        </div>

                        <div class="card-row height-10">
                        </div>

                        <div class="card-row" *ngIf="isFullView">
                            <div class="card-column">
                                <div class="card-row-container">

                                    <div class="card-row" *ngIf="task.notes!=undefined || task.notes!=null">
                                        <div>
                                            {{task.notes}}
                                        </div>
                                    </div>

                                    <div class="card-row border-bottom"
                                        *ngIf="!((task.status === 'STATUS_COMPLETED') || (task.status === 'STATUS_OVERDUE'))">
                                        <div class="card-column">
                                            <div class="horizontal-container height-40">
                                                <div>{{'tasks_card_reminders' | translate}}</div>
                                                <button mat-icon-button (click)="openDialogAddReminder(task)"
                                                    [disabled]="!task.canAddReminder">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                                <span class="fill-remaining-space"></span>
                                                <button mat-icon-button (click)="task.isExpanded=!task.isExpanded">
                                                    <mat-icon>{{expandIcon[task.isExpanded]}}</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-row" *ngIf="task.isExpanded">
                                        <div class="card-row-container" *ngIf="task.reminders.length === 0">
                                            {{'tasks_card_reminders_empty' | translate}}
                                        </div>
                                        <div class="card-row-container" *ngIf="task.reminders.length !== 0">
                                            <div class="card-row border-bottom" *ngFor="let reminder of task.reminders">
                                                <div class="card-column">
                                                    <div class="horizontal-container height-40">
                                                        <div class="padding-left">
                                                            {{reminder.nextExecutionTime.toLocaleString()}}</div>
                                                        <span class="span-50"></span>
                                                        <div>{{reminder.message}}</div>
                                                        <span class="fill-remaining-space"></span>
                                                        <div>
                                                            <button mat-icon-button
                                                                (click)="btnDeleteReminder(reminder)">
                                                                <mat-icon>delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-row height-25">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-row" *ngIf="isFullView">
                        <div>
                            <div class="card-row">{{'tasks_card_start_time' | translate}}</div>
                            <div class="card-row">{{task.startTime.toLocaleString()}}</div>
                        </div>
                        <span class="span-20p"></span>
                        <div *ngIf="task.completedTime===undefined || task.completedTime===null">
                            <div class="card-row">{{'tasks_card_end_time' | translate}}</div>
                            <div class="card-row">{{task.endTime.toLocaleString()}}</div>
                        </div>
                        <div *ngIf="task.completedTime!=undefined || task.completedTime!=null">
                            <div class="card-row">{{'tasks_card_completed_time' | translate}}</div>
                            <div class="card-row">{{task.completedTime.toLocaleString()}}</div>
                        </div>
                        <span class="fill-remaining-space"></span>
                        <div>
                            <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                *ngIf="task.status === 'STATUS_PENDING'" (click)="completeTask(task)">
                                {{'tasks_btn_pending' | translate}}
                            </button>
                            <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'" 
                                *ngIf="task.status === 'STATUS_PENDING_AUTOCOMPLETE'" style="background-color: #9575CD;"
                                (click)="completeTask(task)">
                                {{'tasks_btn_pending' | translate}}
                            </button>
                            <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                *ngIf="task.status === 'STATUS_ACTIVE_AUTOCOMPLETE'" style="background-color: #9575CD;"
                                (click)="completeTask(task)">
                                {{'tasks_btn_autocomplete' | translate}}
                            </button>
                            <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                *ngIf="task.status === 'STATUS_ACTIVE'" (click)="completeTask(task)">
                                {{'tasks_btn_complete' | translate}}
                            </button>
                            <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                style="background-color: green;" *ngIf="task.status === 'STATUS_COMPLETED'">
                                {{'tasks_btn_completed' | translate}}
                            </button>
                            <button mat-raised-button color="primary" class="button-size" [disabled]=false [style.width]="translate.currentLang==='pl' ? '200px' : '150px'"
                                style="background-color: red;" *ngIf="task.status === 'STATUS_OVERDUE'"
                                (click)="completeTask(task)">
                                {{'tasks_btn_overdue' | translate}}
                            </button>
                        </div>
                    </div>

                </mat-card>
                <!-- Card End -->
            </div>
            <div class="page-row center height-25">

            </div>
        </div>
    </div>

</div>