<div class="body-container">
    <mat-card class="full-page-card">
        <mat-card-header class="center">
            <mat-card-title>{{'about_title' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="basic-row-container center">
                <span class="span-10"></span>
                <div class="text-row">
                    <p>{{'about_description' | translate}}</p>
                </div>
                <span class="span-10"></span>
                <div class="text-row">
                    <p>{{'about_learned' | translate}}</p>
                    <p class="text-indent">{{'about_learned_1' | translate}}</p>
                    <p class="text-indent">{{'about_learned_2' | translate}}</p>
                    <p class="text-indent">{{'about_learned_3' | translate}}</p>
                    <p class="text-indent">{{'about_learned_4' | translate}}</p>
                    <p class="text-indent">{{'about_learned_5' | translate}}</p>
                    <p class="text-indent">{{'about_learned_6' | translate}}</p>
                    <p class="text-indent">{{'about_learned_7' | translate}}</p>
                    <p class="text-indent">{{'about_learned_8' | translate}}</p>
                    <p class="text-indent">{{'about_learned_9' | translate}}</p>
                </div>
                <span class="span-10"></span>
                <div class="text-row">
                    <p>{{'about_topic' | translate}}</p>
                </div>
                <span class="span-10"></span>
            </div>
        </mat-card-content>
    </mat-card>
</div>