<div class="body-container">
    <mat-card class="card-size" *ngIf="!canCreate">
        <div class="basic-row-container">
        <div class="basic-row center">
            <p>{{'signup_cant_1' | translate}}</p>
        </div>
        <span class="span-12"></span>
        <div class="basic-row center">
            <p>{{'signup_cant_2' | translate}}</p>
        </div>
        <span class="span-25"></span>
        <div class="basic-row center">
            <a class="width-max" mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">{{'signup_login' | translate}}</a>
        </div>
        </div>
    </mat-card>
    <mat-card class="card-size" *ngIf="canCreate">
        <div class="basic-row-container">
            <div class="basic-row center">
                <mat-card-title>{{'signup_title' | translate}}</mat-card-title>
            </div>
            <div class="basic-row center">
                <mat-horizontal-stepper linear #stepper>

                    <mat-step [editable]=false>
                        <ng-template matStepLabel>{{'signup_title_email' | translate}}</ng-template>

                        <div class="basic-row-container">
                            <span class="span-25"></span>
                            <div class="basic-row center">
                                <form class="width-max">
                                    <mat-form-field class="width-max">
                                        <mat-label>{{'form_placeholder_email' | translate}}</mat-label>
                                        <input matInput [(ngModel)]="user.email" name="email"
                                            [formControl]="emailControl" [errorStateMatcher]="matcher" required>
                                        <mat-error *ngIf="emailControl.hasError('required')">
                                            {{'form_blank' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="emailControl.hasError('email')">
                                            {{'form_not_email' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                            <span class="span-25"></span>
                            <div class="basic-row center">
                                <button class="width-max" [disabled]="!emailControl.valid" mat-raised-button
                                    matStepperNext color="primary" type="button">
                                    {{'btn_continue' | translate}}
                                </button>
                            </div>
                        </div>

                    </mat-step>

                    <mat-step [editable]=false>
                        <ng-template matStepLabel>{{'signup_title_data' | translate}}</ng-template>

                        <form class="basic-row-container">
                            <span class="span-25"></span>
                            <div class="basic-row center">
                                <mat-form-field class="width-max">
                                    <mat-label>{{'form_placeholder_username' | translate}}</mat-label>
                                    <input matInput #inputName [(ngModel)]="user.name" name="name"
                                        [formControl]="nameControl" [errorStateMatcher]="matcher" required
                                        maxlength="20" minlength="3">
                                    <mat-hint>{{'form_pass_max_characters' | translate}}</mat-hint>
                                    <mat-error *ngIf="nameControl.hasError('required')">
                                        {{'form_blank_username' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="nameControl.hasError('minlength')">
                                        {{'form_min_char' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <span class="span-12"></span>
                            <div class="basic-row center">
                                <mat-form-field class="width-max">
                                    <mat-label>{{'form_placeholder_password' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="user.password" name="password"
                                        [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"
                                        [errorStateMatcher]="matcher" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordControl.hasError('required')">
                                        {{'form_blank_password' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <span class="span-12"></span>
                            <div class="basic-row center">
                                <mat-form-field class="width-max">
                                    <mat-label>{{'form_placeholder_password_verify' | translate}}</mat-label>
                                    <input matInput name="password" [type]="hideReapet ? 'password' : 'text'"
                                        [formControl]="passwordReapetControl" [errorStateMatcher]="matcher" required>
                                    <button mat-icon-button matSuffix (click)="hideReapet = !hideReapet"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideReapet">
                                        <mat-icon>{{hideReapet ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordReapetControl.hasError('required')">
                                        {{'form_blank_password' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordReapetControl.hasError('equal')">
                                        {{'form_pass_not_equal' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <span class="span-25"></span>
                            <div class="basic-row center">
                                <button class="width-max" mat-raised-button matStepperNext color="primary" type="button"
                                    [disabled]="!(nameControl.valid && passwordControl.valid && passwordReapetControl.valid)">
                                    {{'btn_continue' | translate}}
                                </button>
                            </div>
                        </form>

                    </mat-step>

                    <mat-step [editable]="false">
                        <ng-template matStepLabel>{{'signup_title_done' | translate}}</ng-template>

                        <div class="basic-row-container">
                            <div class="basic-row center">
                                <div>
                                    {{'signup_terms_message' | translate}}
                                    <a routerLink="/terms" routerLinkActive="active"
                                        target="_blank">{{'signup_terms_message_terms' | translate}}</a>
                                    {{'signup_terms_message_and' | translate}}
                                    <a routerLink="/privacy" routerLinkActive="active"
                                        target="_blank">{{'signup_terms_message_privacy' | translate}}</a>
                                </div>
                            </div>
                            <span class="span-12"></span>
                            <div class="basic-row center">
                                <div class="width-max">
                                    <form>
                                        <mat-checkbox [formControl]="termsControl" required>
                                            {{'signup_terms_agree' | translate}}
                                        </mat-checkbox>
                                        <mat-error *ngIf="!termsControl.valid">
                                            {{'signup_terms_agree_error' | translate}}
                                        </mat-error>
                                    </form>
                                </div>
                            </div>
                            <span class="span-12"></span>
                            <div class="basic-row center">
                                <div class="width-max">
                                    <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required
                                        siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" #captchaControl="ngModel">
                                    </re-captcha>
                                </div>
                            </div>
                            <span class="span-12"></span>
                            <div class="basic-row center">
                                <mat-error *ngIf="isFailure">
                                    {{'signup_error' | translate}}
                                </mat-error>
                            </div>
                            <span class="span-25"></span>
                            <div class="basic-row center">
                                <button class="width-max" mat-raised-button color="primary" type="button"
                                    [disabled]="!(termsControl.valid && captchaControl.valid)" (click)="submit()">
                                    {{'signup_btn' | translate}}
                                </button>
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </mat-card>
</div>