<div>
    <div class="basic-row-container">
        <div class="basic-row">
            <div class="basic-row-column">
                <div class="basic-row-container">
                    <div class="basic-row">
                        <h2>{{'cookie_title' | translate}}</h2>
                    </div>
                    <div class="basic-row">
                        {{'cookie_message_a' | translate}}
                    </div>
                    <div class="basic-row">
                        {{'cookie_message_b' | translate}}
                    </div>
                </div>
            </div>
            <div class="basic-row-column">
                <button mat-raised-button color="primary" (click)="close()">
                    {{'btn_agree' | translate}}
                </button>
            </div>


        </div>

    </div>
</div>