.dialog {
  position: relative;
  width: 550px;
}

.dialog-row-container {
  display: flex;
  flex-direction: column;
}

.dialog-row {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-column {
  flex: 1 1 230px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-vertically {
  justify-content: center;
  display: flex;
}

.right {
  position: absolute;
  right: 15px;
}

.column-width {
  width: 230px;
}

.column-height-radio-buttons {
  height: 50px;
}

.column-height-forms {
  height: 50px;
}

.div-radio-button-column-one {
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.div-radio-button-column-two {
  position: absolute;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.div-radio-button-container {
  position: relative;
  width: 100%;
  height: 50px;
}

.div-radio-button-days-container {
  height: 160px;
  width: 360px;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.div-radio-button-days-container > * {
  flex: 1 1 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 40px;
}

.div-radio-button-reapet-container {
  flex-wrap: wrap;
  display: flex;
}

.div-radio-button-reapet-container-div {
  flex: 1 1 180px;
  height: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.div-reapet-form-container {
  position: absolute;
  left: 200px;
  width: 180px;
}

.reapet-form {
  padding: 5px;
}

.div-forms-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-column-one {
  padding: 10px;
  width: 180px;
}

.form-properties {
  padding: 10px;
  width: 180px;
}

.padding-left {
  padding-left: 15px;
}

.position-left {
  position: relative;
  left: 15px;
}

.forms-margin {
  margin: 0px 15px 0px 15px;
}

.message-form {
  width: 520px;
  height: 100px;
}

.message-form-textarea {
  resize: none;
}

.forms-margin {
  margin: 0px 15px 0px 15px;
}
