<div class="body-container">

    <mat-card class="card-size">
        <div class="basic-row-container">
            <div class="basic-row center">
                <mat-card-header>
                    <mat-card-title>{{'forgotten_password_title' | translate}}</mat-card-title>
                </mat-card-header>
            </div>

            <span class="span-25"></span>

            <div class="basic-row center">
                <mat-card-content class="basic-row-container">
                    <div class="basic-row center">
                        <div class="width-max">
                            {{'forgotten_password_message' | translate}}
                        </div>
                    </div>
                    <span class="span-12"></span>
                    <div class="basic-row center">
                        <form class="width-max">
                            <mat-form-field class="width-max">
                                <mat-label>{{'forgotten_password_placeholder' | translate}}</mat-label>
                                <input matInput [formControl]="emailControl" required>
                                <mat-error *ngIf="getError()">{{errorMessage}}</mat-error>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
            </div>

            <span class="span-12"></span>

            <div class="basic-row center">
                <mat-card-actions class="width-max">
                    <button class="width-max" mat-raised-button (click)="sendRecovery()"
                        color="primary">{{'forgotten_password_button' | translate}}</button>
                </mat-card-actions>
            </div>

        </div>
    </mat-card>

</div>