<div class="body-container">

    <mat-card class="card-size">
        <div class="row-container">
            <div class="row">
                <mat-card-header>
                    <mat-card-title>{{'forgottenPassword_title' | translate}}</mat-card-title>
                </mat-card-header>
            </div>

            <span class="space-25px"></span>

            <div class="row">
                <mat-card-content class="row-container">
                    <div class="row">
                        <div class="width-100per">
                            {{'forgottenPassword_message' | translate}}
                        </div>
                    </div>
                    <span class="space-12px"></span>
                    <div class="row">
                        <form class="width-100per">
                            <mat-form-field class="width-100per">
                                <mat-label>{{'forgottenPassword_placeholder' | translate}}</mat-label>
                                <input matInput [formControl]="emailControl" required>
                                <mat-error *ngIf="getError()">{{errorMessage}}</mat-error>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
            </div>

            <span class="space-12px"></span>

            <div class="row">
                <mat-card-actions class="width-100per">
                    <button class="width-100per" mat-raised-button (click)="sendRecovery()"
                        color="primary">{{'forgottenPassword_button' | translate}}</button>
                </mat-card-actions>
            </div>

        </div>
    </mat-card>

</div>