.login-card {
  min-width: 250px;
  max-width: 350px;
  width: 50%;
  min-height: 250px;
  max-height: 350px;
  height: 50%;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.form-width {
  margin-left: auto;
  margin-right: auto;
  min-width: 220px;
  max-width: 320px;
  width: 95%;
  display: block;
}

.center-items {
  margin-left: auto;
  margin-right: auto;
  min-width: 220px;
  max-width: 320px;
  width: 95%;
  display: flex;
  align-items: center;
  display: block;
}

.text-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
