<div mat-dialog-content class="dialog">
    <div class="basic-row-container">
        <div class="basic-row">
            <h2>{{'cookie_title' | translate}}</h2>
        </div>
        <div class="basic-row">
            {{'cookie_message_a' | translate}}
        </div>
        <div class="basic-row">
            {{'cookie_message_b' | translate}}
        </div>
        <span class="span-20"></span>
        <div class="basic-row">
            <button mat-raised-button color="primary" class="width-max" (click)="close()">
                {{'btn_close' | translate}}
            </button>
        </div>
    </div>
</div>