.profile-options {
  border-right: 1px solid #e0e0e0;
  min-width: 150px;
  max-width: 200px;
  width: 150px;
}

.profile-details {
  min-width: 400px;
}

.profile-container {
  width: 70%;
  min-width: 550px;
  max-width: 70%;
}

button:disabled {
  color: black;
}

.page-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-row {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-row-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-dimensions {
  min-width: 400px;
  max-width: 75%;
  width: 75%;
  min-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-row {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-row-column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.flex-none {
  flex: none;
}

.width-100 {
  width: 100px;
  min-width: 100px;
  flex: none;
}

.width-200 {
  width: 200px;
  min-width: 200px;
  flex: none;
}

.margin-bottom-auto {
  margin-bottom: auto;
}
.padding-left {
  padding-left: 20px;
}
.padding-right {
  padding-right: 20px;
}

.border-left {
  border-left: 1px solid #e0e0e0;
}
.bold {
  font-weight: bold;
}
