<h1 mat-dialog-title>Password change</h1>

<div mat-dialog-content>
<form>
        <table cellspacing="0">

            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Enter Password</mat-label>
                        <input matInput required>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Enter New Password</mat-label>
                        <input matInput required>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Reapet New Password</mat-label>
                        <input matInput required>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>

</div>

<div mat-dialog-actions>
    <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required
        siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" #captchaControl="ngModel">
    </re-captcha>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="submitChange()" cdkFocusInitial
        [disabled]="!(dataFormGroup.valid && captchaControl.valid)">Change</button>
</div>