<div mat-dialog-content>

    <div class="basic-row-container">
        <div class="basic-row center">
            <h1>{{'user_settings_dialog_change_password' | translate}}</h1>
        </div>
        <span class="span-10"></span>
        <div class="basic-row center padding-tb">
            <mat-error *ngIf="isInvalid">
                {{'error_invalid_password' | translate}}
            </mat-error>
        </div>
        <div class="basic-row center">
            <mat-form-field class="width-max">
                <mat-label>{{'form_placeholder_password_current' | translate}}</mat-label>
                <input matInput name="passwordCurrent"
                    [type]="hideCurrent ? 'password' : 'text'" [formControl]="passwordCurrentControl"
                    [errorStateMatcher]="matcher" required>
                <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrent">
                    <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordCurrentControl.hasError('required')">
                    {{'form_blank_password' | translate}}
                </mat-error>
            </mat-form-field>

        </div>
        <span class="span-10"></span>
        <div class="basic-row center">
            <mat-form-field class="width-max">
                <mat-label>{{'form_placeholder_password' | translate}}</mat-label>
                <input matInput name="passwordNew" [type]="hideNew ? 'password' : 'text'"
                    [formControl]="passwordNewControl" [errorStateMatcher]="matcher" required>
                <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNew">
                    <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordNewControl.hasError('required')">
                    {{'form_blank_password' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <span class="span-10"></span>
        <div class="basic-row center">
            <mat-form-field class="width-max">
                <mat-label>{{'form_placeholder_password_verify' | translate}}</mat-label>
                <input matInput name="passwordReapet" [type]="hideReapet ? 'password' : 'text'"
                    [formControl]="passwordReapetControl" [errorStateMatcher]="matcher" required>
                <button mat-icon-button matSuffix (click)="hideReapet = !hideReapet" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideReapet">
                    <mat-icon>{{hideReapet ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordReapetControl.hasError('required')">
                    {{'form_blank_password' | translate}}
                </mat-error>
                <mat-error *ngIf="passwordReapetControl.hasError('equal')">
                    {{'form_pass_not_equal' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <span class="span-10"></span>
        <div class="basic-row center">
            <div class="width-100per">
                <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required
                    siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" #captchaControl="ngModel">
                </re-captcha>
            </div>
        </div>
        <span class="span-20"></span>
        <div class="basic-row center">
            <div class="basic-row-column center">
                <button mat-raised-button color="primary" class="width-max"
                    (click)="closeDialog()">{{'btn_cancel' | translate}}</button>
            </div>
            <span class="span-20"></span>
            <div class="basic-row-column center">
                <button mat-raised-button color="primary" class="width-max" (click)="submitChange()"
                    [disabled]="!(captchaControl.valid && passwordCurrentControl.valid && passwordNewControl.valid && passwordReapetControl.valid)">
                    {{'btn_save' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>