@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px;
  padding-top: 62px;
}

.body-container {
  min-height: 100%;
  padding: 30px 100px 30px 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}