<div class="body-container">
    <mat-card class="full-page-card">
        <mat-card-header class="center">
            <mat-card-title>{{'terms_title' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="basic-row-container center">
                <span class="span-10"></span>
                <div class="text-row">
                    <p class="text-titile text-red">{{'terms_note' | translate}}</p>
                    <p class="text-red">{{'terms_note_message' | translate}}</p>
                </div>
                <span class="span-10"></span>
                <div class="text-row">
                    <p>{{'terms_requirement' | translate}}</p>
                    <p class="text-indent">- {{'terms_requirement_1' | translate}}</p>
                    <p class="text-indent">- {{'terms_requirement_2' | translate}}</p>
                    <p class="text-indent">- {{'terms_requirement_3' | translate}}</p>
                    <p class="text-indent">- {{'terms_requirement_4' | translate}}</p>
                    <p class="text-indent">- {{'terms_requirement_5' | translate}}</p>
                    <p class="text-indent">- <a routerLink="/privacy" routerLinkActive="active">{{'terms_requirement_6' | translate}}</a></p>
                    <p class="text-indent">- <a class="link" (click)="openDialogCookies()">{{'terms_requirement_7' | translate}}</a></p>
                </div>              
            </div>
        </mat-card-content>
    </mat-card>
</div>