<div class="body-container">

    <mat-card class="card-size">
        <div class="row-container">

            <div class="row">
                <mat-card-header>
                    <mat-card-title>Reset Password</mat-card-title>
                </mat-card-header>
            </div>

            <span class="space-25px"></span>

            <div class="row">
                <mat-card-content class="width-100per">
                    <form class="width-100per">
                        <div class="row-container">
                            <div class="row">
                                <mat-form-field class="width-100per">
                                    <mat-label>Enter Password</mat-label>
                                    <input matInput [(ngModel)]="password" name="password"
                                        [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"
                                        [errorStateMatcher]="matcher" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordControl.hasError('required')">
                                        {{'form_blank_password' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="width-100per">
                                    <mat-label>Reapet Password</mat-label>
                                    <input matInput name="password" [type]="hideReapet ? 'password' : 'text'"
                                        [formControl]="passwordReapetControl" [errorStateMatcher]="matcher" required>
                                    <button mat-icon-button matSuffix (click)="hideReapet = !hideReapet"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideReapet">
                                        <mat-icon>{{hideReapet ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordReapetControl.hasError('required')">
                                        {{'form_blank_password' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordReapetControl.hasError('equal')">
                                        {{'form_pass_not_equal' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </div>

            <span class="space-12px"></span>

            <div class="row">
                <mat-card-actions class="width-100per">
                    <button class="width-100per" mat-raised-button color="primary"
                    type="button"
                    [disabled]="!(passwordControl.valid && passwordReapetControl.valid)">
                    Continue
                </button>
                </mat-card-actions>
            </div>

        </div>
    </mat-card>
</div>