<div class="body-container">

    <mat-card class="card-size" *ngIf="response==='WAITING'">
        <div class="basic-row-container">
            <div class="basic-row center " style="padding-top:40px; padding-bottom:40px;">
                <mat-spinner ></mat-spinner>
            </div>
        </div>
    </mat-card>

    <mat-card class="card-size" *ngIf="response==='false'">
        {{'reset_password_error' | translate}}
    </mat-card>

    <mat-card class="card-size" *ngIf="response==='true'">
        <div class="basic-row-container">

            <div class="basic-row center">
                <mat-card-header>
                    <mat-card-title>{{'reset_password_title' | translate}}</mat-card-title>
                </mat-card-header>
            </div>

            <span class="span-25"></span>

            <div class="basic-row center">
                <mat-card-content class="width-max">
                    <form class="width-max">
                        <div class="basic-row-container">
                            <div class="basic-row center">
                                <mat-form-field class="width-max">
                                    <mat-label>{{'form_placeholder_password' | translate}}</mat-label>
                                    <input matInput name="password" [type]="hide ? 'password' : 'text'"
                                        [formControl]="passwordControl" [errorStateMatcher]="matcher" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordControl.hasError('required')">
                                        {{'form_blank_password' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="basic-row center">
                                <mat-form-field class="width-max">
                                    <mat-label>{{'form_placeholder_password_verify' | translate}}</mat-label>
                                    <input matInput name="password" [type]="hideReapet ? 'password' : 'text'"
                                        [formControl]="passwordReapetControl" [errorStateMatcher]="matcher" required>
                                    <button mat-icon-button matSuffix (click)="hideReapet = !hideReapet"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideReapet">
                                        <mat-icon>{{hideReapet ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordReapetControl.hasError('required')">
                                        {{'form_blank_password' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordReapetControl.hasError('equal')">
                                        {{'form_pass_not_equal' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </div>

            <span class="span-12"></span>

            <div class="basic-row center">
                <mat-card-actions class="width-max">
                    <button class="width-max" mat-raised-button color="primary" type="button" (click)="submit()"
                        [disabled]="!(passwordControl.valid && passwordReapetControl.valid)">
                        {{'btn_continue' | translate}}
                    </button>
                </mat-card-actions>
            </div>

        </div>
    </mat-card>
</div>