<div class="body-container">

    <mat-card class="card-size">
        <div class="row-container">

            <div class="row">
                <mat-card-header>
                    <mat-card-title>Reset Password</mat-card-title>
                </mat-card-header>
            </div>

            <span class="space-25px"></span>

            <div class="row">
                <mat-card-content class="width-100per">
                    <form class="width-100per">
                        <div class="row-container">
                            <div class="row">
                                <mat-form-field class="width-100per">
                                    <mat-label>Enter Password</mat-label>
                                    <input class="width-100per" matInput required>
                                    <mat-error>err</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="width-100per">
                                    <mat-label>Reapet Password</mat-label>
                                    <input class="width-100per" matInput required>
                                    <mat-error>err</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </div>

            <span class="space-12px"></span>

            <div class="row">
                <mat-card-actions class="width-100per">
                    <button class="width-100per" mat-raised-button color="primary">Continue</button>
                </mat-card-actions>
            </div>

        </div>
    </mat-card>
</div>